<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movtos">
  <template>
    <style>
      :host {
        display: block;
        color: black;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <template is="dom-if" if={{isMovtos}}>
        <h5 class="col-md-10">Detalle de movimientos de la cuenta {{ibanPantalla}} </h5>
        </br>
        </br>
      </template>
    </div>
   <template is="dom-if" if={{isMovtos}}>
     <table class="table table-gray table-bordered table-striped">
       <thead>
         <tr>
           <th scope="col">Id Movimiento</th>
           <th scope="col">Fecha</th>
           <th scope="col">Importe</th>
         </tr>
       </thead>
       <template is="dom-repeat" id="accountsUser" items="{{movtos}}">
         <tr>
            <th on-click="datosCuenta" scope="row">{{item.id_mov}}</th>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
          </tr>
       </template>
   </template>
  </table>

   <iron-ajax
     id = "getMovtos"
     url="http://localhost:3000/colapi/v3/movimientos/{{ibanMovtos}}"
     handle-as="json"
     on-response="showData"></iron-ajax>
  </template>

  <script>

    class VisorMovtos extends Polymer.Element {
      static get is() { return 'visor-movtos'; }
      static get properties() {
        return {
          isMovtos: {type: Boolean,
                      value: false},
          ibanMovtos: { type: String, },
          ibanPantalla: { type: String, },
          id_mov: {type: String},
          fecha: { type: String},
          importe: { type: String},
          movtos: {type : Array}
        };

      }

      recibirIdMovtos(datos){
        console.log(" Receptor recibirIdMovtos:" + JSON.stringify(datos));

        this.ibanMovtos = '"' + datos.iban + '"';
        this.ibanPantalla = datos.iban;
        console.log("Recibir id movtos: "+this.ibanMovtos)
        this.$.getMovtos.generateRequest()
      }

      datosCuenta(datos){
        console.log("Movtos pulsaste cuenta: "+ datos.model.item.iban)
      }

      showData(data){

        // mis campos locales  se llenan con los que llegan del back
        if (data.detail.response.length == 0){
          this.isMovtos =  false;
        }else { this.movtos =  data.detail.response;
                this.isMovtos =  true;
        }
      }
    }

    window.customElements.define(VisorMovtos.is, VisorMovtos);  // registrar el componente en el navegador -->
  </script>
</dom-module>
