<dom-module id="login-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div class="row">
     <h2 class="col-md-12">Login Usuario TechU Colombia</h2>
   </div>
   <input type="email" placeholder="Email" value="{{email::input}}">
   <input type="password" placeholder="Password" value="{{password::input}}">
   <button class="btn btn-success-outline" on-click="login">Login</button>

  <span hidden$="{{!isError}}">Datos Errados</span>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/colapi/V3/login/"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: { type: String},
         password: { type: String},
         isLogged: { type: Boolean,
                     value: false},
         isError: { type: Boolean,
                     value: false}
       };
     }

     login() {
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       this.$.doLogin.body = JSON.stringify(loginData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogin.generateRequest();
       console.log("Petición login enviada al back");
     }

     manageAJAXResponse(data) {
       console.log("Respuesta del servidor para login: "+data.detail.response.msg);
       if (data.detail.response.msg == "usuario no logueado"){
         this.isError = true;
         this.isLogged = false;
       }else {
         this.isLogged = true;
         this.isError = false;
         this.dispatchEvent(new CustomEvent('loginok', {detail:{idLogueado:data.detail.response.id}}))
       }
     }

     showError(error) {
       console.log("Hubo un error desde el back"+error);
       this.isError = true;
     }

   }

   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
