<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
        color: black;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
     <h4 class="col-md-10">Detalle de cuentas</h4>
     </br>
     </br>
   </div>
   <template is="dom-if" if={{!isCuentas}}>
     <h4>Usuario Sin cuentas</h4>
   </template>
   <template is="dom-if" if={{isCuentas}}>
     <table class="table table-gray table-bordered table-striped">
       <thead>
         <tr>
           <th scope="col">Cuenta </th>
           <th scope="col">Saldo</th>
         </tr>
       </thead>
       <template is="dom-repeat" id="accountsUser" items="{{cuentas}}">
         <tr>
            <th on-click="datosCuenta" scope="row">{{item.iban}}</th>
            <td>{{item.balance}}</td>
          </tr>
        </template>
   </template>
  </table>

   <iron-ajax
     id = "getCuentas"
     url="http://localhost:3000/colapi/v3/users/{{user_id}}/cuentas"
     handle-as="json"
     on-response="showData"></iron-ajax>
  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          isCuentas: {type: Boolean,
                      value: false},
          id_Cuenta: { type: String },
          user_id: {type: String},
          saldo: { type: String},
          cuentas: {type : Array}
        };

      }
      recibirIdCuentas(datos){

        console.log(" Receptor Cuentas: " + JSON.stringify(datos));
        this.user_id = datos.idLogueado;
        console.log(this.user_id)
        this.$.getCuentas.generateRequest()

      }

      datosCuenta(datos){
        console.log("Visor Cuentas - Cuenta solicittada: "+ datos.model.item.iban)
        this.dispatchEvent(new CustomEvent('loginok', {detail:{iban:datos.model.item.iban}}))
      }

      showData(data){

        // mis campos locales  se llenan con los que llegan del back
        if (data.detail.response.length == 0){
          this.isCuentas =  false;
        }else { this.cuentas =  data.detail.response;
                this.isCuentas =  true;
        }
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);  // registrar el componente en el navegador -->
  </script>
</dom-module>
