<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
     <h6 class="col-md-12"> Bienvenid@  {{nombre}} {{apellido}} </h6>
     <h6 class="col-md-12"> Iniciaste sesion como:  {{email}}</h6>
   </div>


   <iron-ajax
     id = "getUser"
     url="http://localhost:3000/colapi/v3/users/{{id}}"
     handle-as="json"
     on-response="showData"></iron-ajax>
  </template>

  <script>

    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id:       { type: String, },
          nombre:   { type: String},
          apellido: { type: String},
          email:    { type: String}
        };

      }
      recibirIdUsuario(datos){
        console.log(" Visor Usuario: " + JSON.stringify(datos));
        this.id = datos.idLogueado;
        this.$.getUser.generateRequest()
        console.log(this.id)

      }
      showData(data){
        this.id = data.detail.response.id;
        this.nombre = data.detail.response.first_name;
        this.apellido = data.detail.response.last_name;
        this.email = data.detail.response.email;

      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);  // registrar el componente en el navegador -->
  </script>
</dom-module>
