<dom-module id="logout-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

   <button class="btn btn-warning" on-click="logout">Logout</button>
   <!-- $ por ser un atributo HTML en vez de un elemnto polymer
 <my-componente my-hidden = {{isLogout}}
 <span hidden$ =-->

   <span hidden$="{{!isLogout}}">Sesion Finalizada</span>
   <span hidden$="{{!isError}}">Datos Errados</span>
   <iron-ajax
     id="doLogout"
     url="http://localhost:3000/colapi/V3/logout/"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>

   class LogoutUsuario extends Polymer.Element {
     static get is() { return 'logout-usuario'; }
     static get properties() {
       return {
         email: { type: String},
         isLogout: { type: Boolean,
                     value: false},
        isError: { type: Boolean,
                     value: false},
       };
     }

     recibirMail(datos){
       console.log(" Receptor Logout: " + JSON.stringify(datos));
       this.email = datos.email;
    //   this.$.doLogout.generateRequest()
       console.log(this.email)

     }

     logout() {
       var LogoutData = {
         "email" : this.email
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       this.$.doLogout.body = JSON.stringify(LogoutData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogout.generateRequest();
       console.log("Petición logout enviada");
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor para Logout");
       console.log(data.detail.response);
       if (data.detail.response.msg == "sesion finalizada"){
         this.isError = false;
         this.isLogout = true;
       }else {
         this.isLogout = false;
         this.isError = true;
       }
     }

     showError(error) {
       console.log("Hubo un error: "+error);
     }

   }
   window.customElements.define(LogoutUsuario.is, LogoutUsuario);
 </script>
</dom-module>
