<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="manejador-colapi">
  <template>
    <style>
      login-usuario[hidden]{ display: none;}
      visor-usuario[hidden]{ display: none;}
      visor-cuentas[hidden]{ display: none;}
      visor-movtos [hidden]{ display: none;}
      visor-logout [hidden]{ display: none;}
      html, body { height: 100%; width: 100%; padding: 0; margin: 0; }
      #full-screen-background-image {
        z-index: -999;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <img alt="full screen background image" src="img/azul_techu1.png" id="full-screen-background-image" />

    <div class="row">
       <div class="col text-center">
         <button class="btn btn-warning-outline" hidden$="{{!isLogged}}" on-click="logout">Logout</button>
       </div>
    </div>
    <login-usuario id="login" hidden$="{{isLogged}}"></login-usuario>
    <visor-usuario id ="usuario" hidden$="{{!isLogged}}"></visor-usuario>
    <visor-cuentas id="cuentas" hidden$="{{!isLogged}}"></visor-cuentas>
    <visor-movtos id="movtos" hidden$="{{!isMov}}"></visor-movtos>
    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/colapi/V3/logout/"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
    class ManejadorColapi extends Polymer.Element {
      static get is() { return 'manejador-colapi'; }
      ready(){
        super.ready()
        this.$.login.addEventListener('loginok', e => {this.procesarUsuario(e)})
        this.$.login.addEventListener('loginok', e => {this.procesarCuentas(e)})
        this.$.cuentas.addEventListener('loginok', e => {this.procesarMovtos(e)})
      }
      static get properties() {
        return {
          isLogged: { type: Boolean, value: false},
          isMov:    { type: Boolean, value: false},
          isLogout: { type: Boolean, value: false},
          isError:  { type: Boolean,  value: false},
          mailLogueado: {type: String},
        };
      }
      procesarUsuario(e){
        this.isLogged = true;
        console.log("Procesar Usuario : "+ JSON.stringify(e.detail))
        this.$.usuario.recibirIdUsuario(e.detail)

      }

      procesarCuentas(e){
        this.isLogged = true;
        console.log("Procesar Cuentas : "+ JSON.stringify(e.detail))
        this.$.cuentas.recibirIdCuentas(e.detail)
      }

      procesarMovtos(e){
        if (this.$.cuentas.isCuentas == true){
              this.isLogged = true;
              console.log("Procesar Movimientos: "+ JSON.stringify(e.detail))
              this.$.movtos.recibirIdMovtos(e.detail)
              this.isMov = this.$.movtos.isMovtos;
        }
      }
      logout() {
        this.mailLogueado = this.$.login.email
        console.log("Sesion finalizada para: "+this.mailLogueado);
        var LogoutData = {
          "email" : this.mailLogueado
        };
        // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
        // convertimos el objeto JS a un JSON
        this.$.doLogout.body = JSON.stringify(LogoutData);
        // hacemos petición con los datos del formulario del iron-ajax
        this.$.doLogout.generateRequest();
        console.log("Petición logout enviada");
      }

      manageAJAXResponse(data) {
        console.log("Respuesta del servidor para logout: "+data.detail.response);
        if (data.detail.response.msg == "sesion finalizada"){
          this.isLogout = true;
          this.isError = false;
          this.isLogged = false;
          this.$.cuentas.isCuentas = false;
          this.$.movtos.isMovtos = false;
          this.$.login.email ="";
          this.$.login.password= "";
          }else {
            this.isLogout = false;
            this.isError = true;
          }
       }

      showError(error) {
        console.log("Hubo un error: "+error);
      }
    }

    window.customElements.define(ManejadorColapi.is, ManejadorColapi);  // registrar el componente en el navegador -->
  </script>
</dom-module>
